<h3 style="text-align: center;">Contactanos</h3>
<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            <p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Nombre">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Apellido">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Correo" type="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mensaje" type="text">
                </mat-form-field>
            </p>
        </div>
    </div>
</div>

