
<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'Alexis'">
  Esto es un div
</div>

<button (click)="addItems()">Agregar</button>
<ul>
  <label *ngIf="items.length === 0">Está vacía, ves? :'v</label>
  <li *ngFor="let items of items; index as i">
    {{items}} {{i}}
    <button (click)="deleteItems(i)">Eliminar</button>
  </li>
</ul>

<div *ngFor="let product of products">
 {{product.title}}
 <img [src]="product.image" alt="">
 {{product.price}}
</div>
















<a href="https://www.freepik.es/fotos/venta">Foto de Venta creado por halayalex - www.freepik.es</a>
Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">Pixabay</a>


