


<div *ngFor="let product of products">
 {{product.title}}
 <img [src]="product.image" alt="">
 {{product.price}}
</div>

<app-product></app-product>














<a href="https://www.freepik.es/fotos/venta">Foto de Venta creado por halayalex - www.freepik.es</a>
Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">Pixabay</a>


