<p>products works!</p>

<div class="product-grid">
    <app-product *ngFor="let product of products" (productClicked)="clickProduct($event)" [product]="product">
    </app-product>
</div>

<a href="https://www.freepik.es/fotos/venta">Foto de Venta creado por halayalex - www.freepik.es</a>
<br>
<br>
Image by <a
    href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">StockSnap</a>
from <a
    href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2564660">Pixabay</a>
    